.navbar {
    height: 50px;
    border-bottom: 1px solid #eee;
    @include box-shadow(0 3px 3px rgba(0,0,0,0.175));
    position: relative;
    background: #fafafa;
}
.nav {
    margin: 0;
    padding: 0;
    width: auto;
    border-top: 1px solid #eee;
    margin-top: -1px;
    position: relative;
    list-style: none;

    li{
        float: left;
        display: inline;
        padding: 0 1.3rem;

        &:first-child {
            padding-left: 0;
        }
        a {
            line-height: 50px;
            padding: .8rem 0;
            border-top: 1px solid transparent;
            margin-top: -1px;
            &:hover,&:active, .active {
                border-color: #333;
            }
        }
    }

}
.off-canvas-inline-list {
  margin: 0 auto;
  $inline-list-padding : $off-canvas-link-padding;
  @include inline-list;

  li a {
    color: #999;
  }
}